:root{
    --primary:#09516e;
    --secondary:#ff5722;
    --dark:#212121;
    --light:#f1f1f1;
    --success:#4caf50;
    --info:#00bcd4;
    --danger:#f44336;
    --warning:#f1b252;
}
.bg-primary{
    background-color: var(--primary) !important;
}
.bg-light{
    background-color: var(--light) !important;
}
.bg-success{
    background-color: var(--success);
}
.bg-error{
    background-color: var(--warning);
}